# This code is SECRET, if accidentally exposed it should be regenerated at
# https://fontawesome.com/account
# Because this is a private repository this is okay to be committed, however it should be ignored
# in public repositories
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=4D27C828-3633-4627-B0E0-481EE9358CE2