# This code is SECRET, if accidentally exposed it should be regenerated at
# https://fontawesome.com/account
# If this repository is public add this file to your .gitignore
# If you do not have a Font Awesome Pro account this file can be deleted, and in your
# package.json remove `@fortawesome/fontawesome-pro` and `@fortawesome/pro-solid-svg-icons`
# with their free counterparts.
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken= # TODO: REPLACE WITH YOUR OWN FONT AWESOME TOKEN